/*
*
* Button Color: #FFBD45
*
*
*/

body{
	font-family: 'Roboto Mono', monospace;
}

div#calculator-body{
	 margin: 0 auto;
     width: 400px;
}

div#calculator-display{
	display:block;
	margin-top: 20px;
	outline: 2px solid #9DD9D2;
	text-align: right;
}

div.calculator-button{
    position: relative;
    display: inline-block;
    width: 65px;
    height: 65px;
    background-color: transparent;
}

div.button-center{
    position: relative;
    display: block;
    margin: auto;
    font-size: 30px;
    top: 10px;
    width: 45px;
    height: 45px;
    background-color: orange;
    text-align: center;
    vertical-align: center;
    align-content: center;
    align-items: center;
    transition: width .5s, height .5s;
}

div.button-center:hover{
    top: 12px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
